/.vs/ipmiutil-warpper/v14/.suo
/.vs/ipmiutil-wrapper/v14/.suo
/bin/x64/Debug/ipmiutil-warpper.out
/bin/x64/Debug/ipmiutil-wrapper.out
/ipmiutil-wrapper.VC.db
/ipmiutil-wrapper.sln
/ipmiutil-wrapper.vcxproj
/ipmiutil-wrapper.vcxproj.filters
/ipmiutil-wrapper.vcxproj.user
/main.cpp
/obj/ARM/Debug/ipmiutil-wrapper.log
/obj/ARM/Debug/ipmiutil-wrapper.tlog/ipmiutil-wrapper.lastbuildstate
/obj/ARM/Debug/ipmiutil-wrapper.tlog/unsuccessfulbuild
/obj/x64/Debug/1688335456.CompileUpToDateFile.tlog
/obj/x64/Debug/1688335456.CopySourcesUpToDateFile.tlog
/obj/x64/Debug/1688335456.Local_Remote_PathMapping.tlog
/obj/x64/Debug/1688335456.RemoteProjectDirFile.tlog
/obj/x64/Debug/991230929.CompileUpToDateFile.tlog
/obj/x64/Debug/991230929.CopySourcesUpToDateFile.tlog
/obj/x64/Debug/991230929.Local_Remote_PathMapping.tlog
/obj/x64/Debug/991230929.RemoteProjectDirFile.tlog
/obj/x64/Debug/LastRemoteTarget.tlog
/obj/x64/Debug/ipmiutil-warpper.Build.CppClean.log
/obj/x64/Debug/ipmiutil-warpper.log
/obj/x64/Debug/ipmiutil-warpper.tlog/ipmiutil-warpper.lastbuildstate
/obj/x64/Debug/ipmiutil-warpper.tlog/unsuccessfulbuild
/obj/x64/Debug/ipmiutil-wrapper.log
/obj/x64/Debug/ipmiutil-wrapper.tlog/ipmiutil-wrapper.lastbuildstate
/obj/x64/Debug/ipmiutil-wrapper.tlog/unsuccessfulbuild
/obj/x64/Debug/lan.o
/obj/x64/Debug/main.o
/obj/x64/Debug/sel.o
/readme/images/ArchOptions.gif
/readme/images/ChangeRemote.gif
/readme/images/ManageConnections.gif
/readme/images/OutputTypes.gif
/readme/images/debuggerexport.png
/readme/images/firstconnection.png
/readme/images/linker.png
/readme/images/postbuild.png
/readme/readme.html
/readme/stylesheet.css

*.ipch
obj/x64/Debug/-1138833062.CopySourcesUpToDateFile.tlog
*.tlog
*.obj
*.log
*.pdb
.vs/ipmiutil-wrapper/v15/Browse.VC.db
*.suo
x64/Debug/vc141.idb
src/wrapper/ipmi/CMakeLists.txt